/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

/* Global */
* {
  padding: 0px;
  margin: 0px;
}

/* Main Body */
body {
  font-family: 'Lato', sans-serif;
}

/* Navbar */
.navbar_li_items {
  margin-left: 68%;
}